/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Main Container */
.main-div {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 20px;
}

/* Profile Page Section */
.profile-page {
  margin-bottom: 20px;
}

.profile-page h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-info {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.user-info p {
  margin-bottom: 5px;
}

/* Profile Blogs Section */
.profile-blogs {
  margin-bottom: 20px;
}

.blog-list {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.blog {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%; /* Ensure each blog takes up the entire width */
}

.blog h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.blog p {
  margin-bottom: 10px;
}

.see-details {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.see-details:hover {
  background-color: #0056b3;
}

.loading-message {
  font-style: italic;
  color: #888;
}
